:root {
  --branding-color: #092635;
  --background-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  color: var(--branding-color);
}

h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 48px;
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 48px;
  color: var(--branding-color);
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.logo {
  max-width: 120px;
}

.navbar {
  font-size: 24px;
  font-weight: 400px;
  font-family: var(--default-font-family);
}

.nav-item {
  padding: 0 50px;
}

.active {
  color: var(--branding-color) !important;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  color: var(--background-color);
  font-family: var(--default-font-family);
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: var(--background-color);
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 20px 20px 0;
}
.about-section {
  padding: 160px 20px;
  max-width: 900px;
}
.about-section h1 {
  font-size: 48px;
}

.about-section h2 {
  font-size: 36px;
}

.about-section img {
  padding: 200px 20px 20px;
}

.about-section a {
  font-weight: bold;
  color: var(--branding-color);
  text-decoration: none;
}
.about-section a:hover {
  text-decoration: underline;
}

.about-section-content {
  margin: 0 30px;
}

.project-container {
  margin: 160px 20px;
}

.project-container a {
  font-weight: bold;
  color: var(--branding-color);
  text-decoration: none;
}

.about-project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.about-project a {
  font-weight: bold;
  color: var(--branding-color);
  text-decoration: none;
}

.about-project a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 40px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-title {
    font-size: 48px;
  }
  .about-project {
    padding: 0;
    margin: 10px;
  }
  .hero {
    padding: 100px 20px;
  }

  .about-section img {
    padding: 0 20px 20px;
  }

  .about-section h1 {
    font-size: 36px;
  }
  .about-section h2 {
    font-size: 24px;
  }
  .about-section {
    padding: 100px 20px;
  }
}
